<nav id="header">
  <div class="pull-left"><a href="/">
    You look like you code in&hellip;
  </a></div>
  <div class="pull-right">
    <img src="/images/logo.gif" alt=""/>
  </div>
</nav>
<div class="main-col">
  <div class="avatars">

  </div>
</div>
<div class="aside-col">
  <div class="languages">

  </div>
  <div class="events">

  </div>
</div>
