<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      You look like you code in&hellip;
    </a>
  </div>
</nav>
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8">
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
  </div>
</div>
