<nav id="header">
  <div class="pull-left"><a href="/">
    You look like you code in&hellip;
  </a></div>
  <div class="pull-right">
    <img src="https://lh3.googleusercontent.com/ZulQQcZXehM9rJJP02hMy9KGbeGfwnDVNY4PQVtfnVFHcBgtKvC3ClKOTKaAWzoSqrnNcodb44BlDe0PDA0Y4LDIOlDrNTMztIBQOCvOYl0XPuoM-d347ciXZp6A" alt=""/>
  </div>
</nav>
<div class="main-col">
  <div class="avatars">

  </div>
</div>
<div class="aside-col">
  <div class="languages">

  </div>
  <div class="events">

  </div>
</div>
