<nav id="header">
    <a href="/">
      You look like you code in&hellip;
    </a>
</nav>
<div class="main-col">
  <div class="avatars">

  </div>
</div>
<div class="aside-col">
  <div class="languages">

  </div>
  <div class="events">

  </div>
</div>
