// Twitter Bootstrap Glyphicons path
$icon-font-path: 'fonts/';

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass';
@import 'nvd3';

body {
  background: #efefef;
  font-size: 1.2vw;
}

main {
  padding: 20px;
}

.main-col {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 20px;
  right: 50%;
  padding: 15px
}

.aside-col {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 50%;
  right: 20px;
  padding: 15px;
  > div {
    position: absolute;
    left: 0;
    right: 0;
  }
  .languages {
    top : 0;
    bottom: 50%;
    padding: 15px;
  }
  .events {
    top : 50%;
    bottom: 0;
    padding: 15px;
  }
}
